{% extends "navbar.html" %}
{% block content %}
<div class="container">
  
</div>

    <section class="vh-100" >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <h3 class="mb-5">Add course</h3>
                <form method="post" action="{% url 'add_course' %}">
                    {% csrf_token %}  
                <div class="form-outline mb-4">
      <label for="coursename">Course name</label>
      <input type="text" class="form-control" id="coursename" placeholder="Enter course name" name="coursename">
      
    </div>
    <div class="form-outline mb-4">
      <label for="fees">Fee</label>
      <input type="number" class="form-control" id="fees" placeholder="Fee" name="fees">
    </div>
  
  
    <button type="submit" class="btn btn-primary" style="background-color: rgb(66, 48, 202);">submit</button>
  </form>
</div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}