{% extends "navbar.html" %}
{% block content %}
<h1 style="text-align: center;"><u>Student Details</u></h1>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Student name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Joining date</th>
        <th scope="col">Course</th>
        <th scope="col">Course fee</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for s in skey %}
      <tr>
      
        <td>{{s.student_name}}</td>
        <td>{{s.student_address}}</td>
        <td>{{s.student_age}}</td>
      
        <td>{{s.joining_date}}</td>
        <td>{{s.cours.course_name}}</td>
        <td>{{s.cours.fee}}</td>
     
        <td><a href="{% url 'edit' s.id %}">edit</a></td>
        <td><a href="{% url 'delete1' s.id %}">delete</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}